*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

table{
    border-collapse: collapse;
    font-size: larger;
    margin-left: 40vw;
    width: 20vw;
    text-align: center;
   border-color: red;
    background-color: red;
}

td{
    padding: 30px;
}
