@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

table{
    margin-left: 30vw;
    font-size: larger;
    border: 2px solid black ;
    border-collapse: collapse;
    margin-bottom: 50px;
}

tr, td{
    width: 20vw;
    border: 2px solid black ;
    border-collapse: collapse;
    text-align: center;
    
}


img{
    width: 20vw;
      
}

 thead{
    background-color: cornflowerblue;
}



 