@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", sans-serif;
}

h2{
    margin-left: 25px;
    margin-top: 25px;
}

ul, a, li:hover{
    text-decoration: underline;
    cursor: crosshair;
}

ul{
    
    overflow: auto;
    padding: 10px;
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none; 
}

li{
    float: right;
    margin-left: 30px;
    margin-right: 25px;
}

#Container{
    background-color: blue;
    color: white;
    font-size: 27px;
    width: 95.3vw;
    margin-left: 25px;
    float: left;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 30px;
}

#box{
    float: left;
    margin-top: 50px;
    margin-left: 25px;
    width: 65vw;
    font-size: larger;
}








