@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Iosevka Charon", monospace;
    color: rgb(255, 0, 93);
    font-size: larger;
}

#Main{
    background-image: url(./Book.png);
    background-size: cover;
    background-repeat: no-repeat;

}


nav{
    background-color: rgb(69, 37, 212);
    width: fit-content;
    height: 45.3vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    width: 15vw;
}

h1{
    width: 15vw;
    background-color: rgb(0, 0, 0);
    padding: 20px;
}


li{
    
    margin-bottom: 70px;
    border: solid 1px;
    border-color: white;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-right: 14px;
    padding-left: 14px;
}

li:hover{
    background-color: rgb(135, 0, 0);
}

#books-html{
    color: black;
    background-image: url(./Mocking.png);
    background-repeat: no-repeat;
    background-size: cover;
}
